<!DOCTYPE html>
<div lang="ru">

	<head>

		<meta charset="utf-8">

		<title>Вход</title>
		<meta name="Login" content="Login">

		<meta name="viewport" content="width=device-width">

		<link rel="icon" href="img/favicon.png">
		<meta property="og:image" content="img/@1x/preview.jpg">

		<link rel="stylesheet" href="css/styles.min.css">

	</head>

	<body>
		<div class="register">
      <div class="wrap">
        <h1 class="h1">Учет финансов</h1>
        <form class="register-form">
          <div class="imput-field">
						<label for="name">Имя</label>
						<input type="text" id="name">
						<small class="helper-text invalid">Введите имя</small>
					</div>
          <div class="imput-field"><label for="email">Email</label><input type="text" id="email"></div>
          <div class="imput-field"><label for="pass">Пароль</label><input type="text" id="pass"></div>
          <button type="submit" class="login-btn">Зарегистрироваться</button>
        </form>
        <div><span>Уже есть аккаунт?</span><a href="#">Войти</a></div>
      </div>
      </div>

		<script src="js/scripts.min.js"></script>

	</body>

</div>